---
import Card1 from "../components/Card1.astro";
import Card2 from "../components/Card2.astro";
import Card3 from "../components/Card3.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aksglæde</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />

    <h1 class="container">Artister</h1>
    <Card1
      title="Ægte, råt, pop"
      title2="Jung"
      alt="Jung"
      src="/img/billeder/jung4.webp"
      href="/jung.html"
    />
    <Card2
      title="Lyrisk kærlighed"
      title2="Aksglæde"
      alt="Aksglæde"
      src="/img/billeder/aksglaede2.webp"
      href="/aksglaede.html"
    />
    <Card1
      title="Et barn af natten"
      title2="Flaskedreng"
      alt="Flaskedreng"
      src="/img/billeder/flaskedreng4.webp"
      href="/flaskedreng.html"
    />

    <Card3
      title="Følelsesladet og ægte"
      title2="Magnus Münster"
      alt="Magnus Münster"
      src="/img/billeder/magnus3.webp"
      href="/magnus.html"
    />

    <Card1
      title="Eksperimenterende RNB"
      title2="Zaina"
      alt="Zaina"
      src="/img/billeder/zaina4.webp"
      href="/zaina.html"
    />

    <Footer />
  </body>
</html>

<style></style>
