---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Grizzly Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <section class="hero-section">
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="/img/video/herovid.mp4" type="video/mp4" />
          <!-- Fallback indhold, hvis browseren ikke understøtter videoafspilning -->
          <div class="fallback-content">
            <p>Desværre understøtter din browser ikke videoafspilning.</p>
          </div>
        </video>
        <div class="content">
          <h1>Grizzly Management</h1><h3>Med dig hele vejen</h3>
        </div>
      </div>
    </section>

    <!-- pil -->
    <div></div>
    <section class="container">
      <section class="section2">
        <div class="section2h2"><h2>Artister</h2></div>
        <div class="tekst1">
          <p>
            Vi repræsenterer fem utrolige artister; Jung, Aksglæde, Flaskedreng,
            Zeina og Magnus Mønster, som er klar til at indtage de danske
            musikscener og blæse dig bagover med deres musik.
          </p>
          <br />
          <p>
            Vi er dedikerede til at hjælpe vores artister med at nå deres fulde
            potentiale og sikre deres succes.Vi repræsenterer fem utrolige
            artister; Jung, Aksglæde, Flaskedreng, Zeina og Magnus Mønster, som
            er klar til at indtage de danske musikscener og blæse dig bagover
            med deres musik.
          </p>
          <br />
          <div>
            <a class="primary_small" href="">Udforsk artister</a>
          </div>
        </div>
      </section>
      <div class="billede1">
        <img src="/img/billeder/aksglaede1.webp" alt="" />
      </div>
      <section>
        <div><p></p><a href=""></a></div>
        <div><h2></h2></div><div><img src="" alt="" /></div>
      </section>
    </section>
    <Footer />
  </body>

  <style>
    .hero-section {
      position: relative;
      overflow: hidden;
      top: 0;
      left: 0;
    }

    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      top: 0;
      left: 0;
      padding-bottom: 56.25%; /* Aspect ratio på 16:9 (hvis din video har en anden ratio, skal du justere dette tal) */
    }

    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .content {
      position: relative;
      z-index: 1;
      margin-right: 50px;
      margin-left: 20px;
      /* Tilpas styling for tekst og header efter behov */
    }
    h1 {
      padding-top: 380px;
      font-size: 160px;
      text-align: right;
      margin-bottom: 0;
      margin-top: 0px;
    }

    h3 {
      text-align: right;
    }

    .section2 {
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin-bottom: 40px;
      margin-top: 160px;
    }
    .primary_small {
      place-self: end;
    }

    .tekst1 div {
      place-self: end end;
      margin-top: 35px;
    }

    .section2h2 {
      margin-left: -100px;
      margin-right: -90px;
      margin-top: 90px;
    }
    .tekst1 {
      display: flex;
      flex-direction: column;
    }

    h2 {
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg);
      float: left;
      z-index: 1;
    }

    .billede1 {
      position: relative;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      z-index: -9999;
    }

    @media (min-width: 600px) {
      .section2h2 {
        margin-left: -170px;
        margin-right: -170px;
        margin-top: 90px;
      }

      .section2 {
        display: grid;
        grid-template-columns: 1fr 4fr;
      }
    }
  </style>
</html>
