---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Grizzly Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header></header>
    <section><div><h1>Grizzly Management</h1><h3></h3></div></section>
    <!-- pil -->
    <div></div>
    <section>
      <div><h2></h2></div><div><p></p><a href=""></a></div><div>
        <img src="" alt="" />
      </div>
    </section>
    <section>
      <div><p></p><a href=""></a></div>
      <div><h2></h2></div><div><img src="" alt="" /></div>
    </section>
    <Footer />
  </body>
</html>

<style></style>
