---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Grizzly Management</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content="Grizzly Management, Artister, Repræsentation af artister, Musiksucces, Erfarent team, Ryan Bjørn Hansen, Rasmus Moosdorf, Musikbranchen, Professionel partner, Vejledning i musikbranchen"
    />
    <meta
      name="description"
      content="Grizzly Management - Repræsentation af talentfulde artister til danske musikscener. Erfarent team, der sikrer musiksucces. Læs mere om vores vejledning i musikbranchen."
    />
  </head>
  <body>
    <Header />
    <section class="hero-section">
      <div class="video-container">
        <video autoplay loop muted playsinline>
          <source src="/img/video/herovid.mp4" type="video/mp4" />
          <!-- Fallback indhold, hvis browseren ikke understøtter videoafspilning -->
          <div class="fallback-content">
            <p>Desværre understøtter din browser ikke videoafspilning.</p>
          </div>
        </video>
        <div class="content2">
          <h1>Grizzly Management</h1><h3>Med dig hele vejen</h3>
        </div>
      </div>
      <div id="scroll-indicator" class="scroll-indicator bounce">
        <img src="/img/ikoner/pil.svg" alt="pil" />
      </div>
    </section>

    <section class="container">
      <section class="section2">
        <div class="section2h2"><h2>Artister</h2></div>
        <div class="tekst1">
          <p>
            Vi repræsenterer fem utrolige artister; Jung, Aksglæde, Flaskedreng,
            Zeina og Magnus Mønster, som er klar til at indtage de danske
            musikscener og blæse dig bagover med deres musik.
          </p>
          <br />
          <p>
            Vi er dedikerede til at hjælpe vores artister med at nå deres fulde
            potentiale og sikre deres succes.Vi repræsenterer fem utrolige
            artister; Jung, Aksglæde, Flaskedreng, Zeina og Magnus Mønster, som
            er klar til at indtage de danske musikscener og blæse dig bagover
            med deres musik.
          </p>
          <br />
          <div>
            <a class="primary_small" href="">Udforsk artister</a>
          </div>
        </div>
      </section>
      <div class="billede1">
        <img src="/img/billeder/aksglaede1.webp" alt="Aksglæde" />
      </div>
      <section class="section3">
        <div class="tekst2">
          <p>
            Vores erfarne team, bestående af Ryan Bjørn Hansen og Rasmus
            Moosdorf, har over 15 års erfaring i musikbranchen og ved, hvad der
            skal til for at få artister ud i rampelyset og slå igennem.  Vi tror
            på mennesker med talent og at drømme skal udleves. Med den helt
            rette støtte og dialog, kan der leveres store resultater. Hos
            Grizzly Management finder du en tryg og professionel partner, der
            hjælper artister med at finde deres vej i musikbranchen.
          </p>
          <div><a class="primary_small" href="/om_os.html">Læse mere</a></div>
        </div>
        <div class="section3h2"><h2>Om os</h2></div>
      </section>
      <div class="billede2">
        <img src="/img/billeder/om1.webp" alt="Ryan og Rasmus" />
      </div>
    </section>
    <Footer />
  </body>

  <style>
    .hero-section {
      position: relative;
      overflow: hidden;
      top: 0;
      left: 0;
      padding-bottom: 100px;
    }

    .video-container {
      position: relative;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      padding-bottom: 56.25%; /* Aspect ratio på 16:9 (hvis din video har en anden ratio, skal du justere dette tal) */
    }

    .video-container video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    .content2 {
      z-index: 1;
      /* margin-right: 50px;
      margin-left: 20px; */
      /* Tilpas styling for tekst og header efter behov */
    }

    h1 {
      padding-top: 400px;
      margin-top: 0;
      padding-left: 20px;
    }

    h3 {
      text-align: left;
      padding-right: 20px;
      padding-left: 20px;
    }

    /* pil */
    /* Centreret pil */
    .scroll-indicator {
      position: absolute;
      left: 50%;
      bottom: 30px; /* Juster afstanden fra bunden efter behov */
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      z-index: 2;
    }

    .scroll-indicator.fade-in {
      opacity: 1;
    }

    @keyframes bounce {
      0% {
        transform: translateX(-50%) translateY(0);
      }
      50% {
        transform: translateX(-50%) translateY(-10px);
      }
      100% {
        transform: translateX(-50%) translateY(0);
      }
    }

    .scroll-indicator img {
      object-fit: cover;
      width: 20px; /* Juster bredden efter behov */
      transition: transform 0.5s ease-in-out; /* Overgangseffekt */
    }

    .section2 {
      display: grid;
      grid-template-columns: 1fr 4fr;
      margin-bottom: 40px;
      margin-top: 100px;
    }
    .primary_small {
      place-self: end;
    }

    .tekst1 div {
      place-self: end end;
      margin-top: 35px;
    }

    .section2h2 {
      margin-left: -100px;
      margin-right: -90px;
      margin-top: 90px;
    }

    .tekst1 {
      display: flex;
      flex-direction: column;
    }

    .section2 h2 {
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg);
      z-index: 1;
    }

    .billede1 {
      position: relative;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      z-index: -9999;
    }
    .billede1 img,
    .billede2 img {
      max-width: 100%;
    }

    .section3 {
      display: grid;
      grid-template-columns: 4fr 1fr;
      margin-bottom: 40px;
      margin-top: 160px;
    }

    .section3 h2 {
      -ms-transform: rotate(90deg); /* IE 9 */
      transform: rotate(90deg);
      padding-bottom: 100px;
      z-index: 1;
    }

    .section3h2 {
      transform-origin: bottom right;
      margin-top: 0px;
      padding-right: 0px;

      margin-left: -100px;
      white-space: nowrap;
    }

    .tekst2 {
      display: flex;
      flex-direction: column;
    }

    .tekst2 div {
      place-self: start end;
      margin-top: 35px;
    }
    /* gradient */

    .filter {
      position: fixed;
      height: 3000px;
      z-index: -999;
      opacity: 0.5;
      filter: grayscale(100%);
      object-fit: cover;
    }

    .filter img {
      max-width: screen;
      max-height: screen;
    }

    .parallax-container {
      position: relative;
      height: 2000px; /* Juster højden efter behov */
      overflow: hidden;
    }

    .parallax-image {
      position: absolute;
      top: 1000px;
      left: 48%;

      max-width: 100%;
      /* background-image: url("img/billeder/gradient1.png"); */
      background-size: cover;
      transform: translateZ(1px) scale(0.5); /* Juster skaleringsfaktoren efter behov */
    }
    .parallax-image img {
      width: 400px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .content {
      position: relative;
      z-index: 1;
    }
    .img img {
      max-width: 100%;
      margin-top: 30px;
    }

    @media (min-width: 800px) {
      /* .gradient {
      position: fixed;
      top: 100px;
      z-index: -998;
      width: 1200px;
    } */
      .filter {
        position: fixed;
        height: 100%;
        z-index: -999;
        opacity: 0.15;
        filter: grayscale(100%);
      }
      .parallax-image {
        width: 1000px;
        max-width: 100%;
      }

      .parallax-image img {
        width: 1200px;
      }
      .img img {
        max-width: 600px;
        margin-top: 30px;
      }
    }

    @media (min-width: 600px) {
      .scroll-indicator {
        position: absolute;
        left: 50%;
        bottom: 70px; /* Juster afstanden fra bunden efter behov */
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: bounce 1.5s infinite;
        z-index: 2;
      }
      .section2h2 {
        margin-left: -170px;
        margin-right: -170px;
        margin-top: 90px;
      }

      .section2 {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-top: 250px;
      }
    }
    @media (min-width: 800px) {
      h1 {
        padding-top: 200px;
        margin-top: 0;
        padding-left: 40px;
        font-size: 105px;
        margin-bottom: 0;
        line-height: 130px;
      }

      h3 {
        text-align: left;
        padding-left: 45px;
      }
    }

    @media (min-width: 1000px) {
      h1 {
        padding-top: 200px;
        margin-top: 0;
        padding-left: 40px;
        font-size: 145px;
        margin-bottom: 20px;
      }

      h3 {
        text-align: left;
        padding-left: 40px;
      }
    }

    @media (min-width: 1100px) {
      h1 {
        padding-top: 300px;
        margin-top: 0;
        padding-left: 40px;
        font-size: 145px;
        margin-bottom: 20px;
      }

      h3 {
        text-align: left;
        padding-left: 40px;
      }
    }
    @media (min-width: 1400px) {
      h1 {
        padding-top: 500px;
        margin-top: 0;
        padding-left: 0px;
        font-size: 165px;
        margin-bottom: 20px;
        text-align: right;
      }

      h3 {
        text-align: right;
        padding-right: 40px;
      }
    }

    /* pil effekt */

    .bounce {
      -webkit-animation: bounce 1.5s infinite;
      animation: bounce 1.5s infinite;
    }

    .fade-in-top {
      -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s
        both;
      animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
    }
    /* ----------------------------------------------
 * Generated by Animista on 2023-5-24 11:59:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

    /**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
    @-webkit-keyframes fade-in-top {
      0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
    @keyframes fade-in-top {
      0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }
  </style>

  <script>
    window.addEventListener("scroll", function () {
      const parallax = document.querySelector(".parallax-image");
      let scrollPosition = window.pageYOffset;
      parallax.style.transform =
        "translateY(" +
        scrollPosition * 1.2 +
        "px)"; /* Juster hastigheden efter behov */
    });
  </script>
</html>
