---
import Footer from "../components/Footer.astro";
import Form1 from "../components/Form1.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Kontakt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content="kontakt, kontaktformular, kontakt os, spørgsmål, feedback"
    />
    <meta
      name="description"
      content="Kontakt os ved hjælp af vores kontaktformular. Har du spørgsmål eller feedback, er vi klar til at hjælpe dig."
    />
  </head>
  <body>
    <Header />
    <div class="parallax-container" role="main" aria-label="Parallax container">
      <div class="filter">
        <img src="img/billeder/Filter.webp" alt="filter" />
      </div>
      <div class="gradient parallax-image">
        <img src="img/billeder/gradient1.webp" alt="gradient" />
      </div>
      <section class="container content" aria-labelledby="contact-heading">
        <div>
          <h1>Kontakt</h1>
          <div class="info">
            <p><b>Kontaktinformation:</b></p>
            <p>ryan@grizzlymanagement.dk</p>
            <p>Nyvej 16B, st</p>
            <p>1851 Frederiksberg C</p>
          </div>
          <Form1 role="form" aria-label="Kontaktformular" />
        </div>
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  p {
    margin-bottom: 10px;
  }
  h1 {
    margin-bottom: 20px;
  }

  .info {
    margin-bottom: 40px;
  }
  .filter {
    position: fixed;
    height: 3000px;
    z-index: -999;
    opacity: 0.2;
    filter: grayscale(100%);
    object-fit: cover;
  }

  .filter img {
    max-width: screen;
    max-height: screen;
  }

  .parallax-container {
    position: relative;
    height: 1000px; /* Juster højden efter behov */
    overflow: hidden;
  }

  .parallax-image {
    position: absolute;
    top: 100px;
    left: 38%;
    z-index: -99999;
    max-width: 100%;
    /* background-image: url("img/billeder/gradient1.png"); */
    background-size: cover;
    transform: translateZ(1px); /* Juster skaleringsfaktoren efter behov */
  }
  .parallax-image img {
    width: 450px;
  }

  .content {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 800px) {
    .filter {
      position: fixed;
      height: 100%;
      z-index: -999;
      opacity: 0.2;
      filter: grayscale(100%);
    }
    .parallax-image {
      width: 1200px;
      max-width: 100%;
      z-index: -99999;
    }

    .parallax-image img {
      width: 1200px;
    }
    .parallax-container {
      position: relative;
      height: 1200px; /* Juster højden efter behov */
      overflow: hidden;
    }
  }
</style>
<script>
  window.addEventListener("scroll", function () {
    const parallax = document.querySelector(".parallax-image");
    let scrollPosition = window.pageYOffset;
    parallax.style.transform =
      "translateY(" +
      scrollPosition * 0.8 +
      "px)"; /* Juster hastigheden efter behov */
  });
</script>
