---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Flaskedreng</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta name="keywords" content="Magnus Münster, musik, album, følelsesladet musik, ung til voksen" />
<meta name="description" content="Lyt til Magnus Münsters følelsesladede musik og hans nye album 'Hole in One', der handler om at gå fra ung til voksen. Få indblik i hans ærlige og personlige tekster og følg hans musikalske rejse." />

  </head>
  <body>
    <Header />
    <section class="container">
      <section class="">
        <h1>Magnus Münster</h1>
        <div class="h2">
          <img src="/img/ikoner/citat.svg" alt="citat" /><h2>
            Magnus Münster har ramt bullseye med sit nye album "Hole in One",
            der handler om at gå fra ung til voksen.
          </h2>
        </div>
        <div class="grid">
          <div>
            <img src="/img/billeder/magnus1.webp" alt="Magnus billede 1" />
          </div>
          <div>
            <h3>Følelsesladet musik</h3><p>
              Magnus Münster har ramt bullseye med sit nye album, "Hole in One,"
              som handler om at gå fra ung til voksen. Musikken emmer af poppede
              toner, som han kombinerer med sine følsomme tekster. Han formidler
              følelser, refleksioner og erfaringer på en ærlig og personlig
              måde.
            </p>
          </div>
        </div>
      </section>
      <section class="grid">
        <div class="img2">
          <img src="/img/billeder/magnus2.webp" alt="Magnus billede 2" />
        </div>
        <div>
          <h3>Om at gå fra ung til voksen</h3><p>
            Med singlen "So Last Year", skyder han sin karriere i gang. Sangen
            handler om at sige farvel til en del af sig selv og genopdage, hvem
            man er. Da Magnus stoppede i gymnasiet, følte han, at han begravede
            en del af sig selv, som han nu er i gang med at grave op igen. Lyt
            til hans debutsingle "So Last Year" og se hans kommende album med 13
            numre, som han har arbejdet på i tre år.
          </p>
        </div>
      </section>
      <section>
        <iframe
          style="border-radius:12px"
          src="https://open.spotify.com/embed/artist/1B5Ve8nZVrz3iRMwFnqEtn?utm_source=generator&theme=0"
          width="100%"
          height="352"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </section>
    </section>
    <Footer />
  </body>
</html>

<style>
  h2 {
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-link);
    color: var(--color-lime-120);
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-decoration: none;
    max-width: 800px;
    text-align: center;
    place-self: center;
  }

  .h2 {
    display: grid;
    padding-bottom: 40px;
    padding-top: 0px;
    justify-items: center;
    gap: 15px;
  }
  .h2 img {
    max-height: 50px;
    width: 50px;
  }

  img {
    width: 100%;
    margin-right: 0;
    max-height: 300px;
  }

  p {
    margin-top: 20px;
  }

  section {
    margin-top: 30px;
  }

  .grid {
    margin-top: 50px;
  }
  h3 {
    margin-top: 30px;
  }
  .section3 {
    margin-top: 80px;
  }

  @media (min-width: 800px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 60px;
      gap: 20px;
    }
    .img2 {
      order: 2;
    }

    h2 {
      font-family: var(--font-family-helvetica);
      font-size: 28px;
      color: var(--color-lime-120);
      line-height: 32px;
      letter-spacing: 2px;
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
      text-decoration: none;
    }
    h3 {
      margin-top: 0px;
    }
    .h2 img {
      max-height: 80px;
      width: 60px;
    }

    .h2 {
      gap: 20px;
    }
    h1 {
      font-size: 160px;
    }
  }
</style>
