---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nyt</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content="Instagram, Nyheder, Musiknyt, følg med, artister, opdateringer"
    />
    <meta
      name="description"
      content="Følg med i hvad der sker med vores artister og få opdateringer ved at følge os på Instagram. Hold dig opdateret med vores seneste indhold, nyheder og begivenheder."
    />
  </head>
  <body>
    <Header />
    <div
      class="parallax-container"
      role="region"
      aria-label="Parallax-container"
    >
      <div class="filter">
        <img src="img/billeder/Filter.webp" alt="filter" />
      </div>
      <div class="gradient parallax-image">
        <img src="img/billeder/gradient2.png" alt="" />
      </div>
      <div class="container content">
        <h1>nyt</h1><p>
          Følg med i hvad der sker med vores artister og meget mere på vores
          instagram
        </p>
        <div class="img" role="img" aria-label="Instagram">
          <img src="img/billeder/screen_insta.png" alt="IG" />
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>

<style>
  /* .gradient {
    position: fixed;
    top: 100px;
    z-index: -998;
    width: 500px;
    left: 43%;
  } */
  .filter {
    position: fixed;
    height: 3000px;
    z-index: -999;
    opacity: 0.2;
    filter: grayscale(100%);
    object-fit: cover;
  }

  .filter img {
    max-width: screen;
    max-height: screen;
  }

  .parallax-container {
    position: relative;
    height: 800px; /* Juster højden efter behov */
    overflow: hidden;
  }

  .parallax-image {
    position: absolute;
    top: 0px;
    left: 48%;
    z-index: -99999;
    max-width: 100%;
    /* background-image: url("img/billeder/gradient1.png"); */
    background-size: cover;
    transform: translateZ(1px); /* Juster skaleringsfaktoren efter behov */
  }
  .parallax-image img {
    width: 400px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .content {
    position: relative;
    z-index: 1;
  }
  .img img {
    max-width: 100%;
    margin-top: 30px;
  }

  @media (min-width: 800px) {
    /* .gradient {
      position: fixed;
      top: 100px;
      z-index: -998;
      width: 1200px;
    } */
    .filter {
      position: fixed;
      height: 100%;
      z-index: -999;
      opacity: 0.2;
      filter: grayscale(100%);
    }
    .parallax-image {
      width: 1000px;
      max-width: 100%;
      z-index: -99999;
    }

    .parallax-image img {
      width: 1200px;
    }
    .img img {
      max-width: 600px;
      margin-top: 30px;
    }

    .parallax-container {
      position: relative;
      height: 1200px; /* Juster højden efter behov */
      overflow: hidden;
    }
  }
</style>
<script>
  window.addEventListener("scroll", function () {
    const parallax = document.querySelector(".parallax-image");
    let scrollPosition = window.pageYOffset;
    parallax.style.transform =
      "translateY(" +
      scrollPosition * 0.9 +
      "px)"; /* Juster hastigheden efter behov */
  });
</script>
