---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Om os</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <section class="container">
      <section>
        <div>
          <h1>Om Grizzly</h1><p>
            Vores erfarne team, bestående af Ryan Bjørn Hansen og Rasmus
            Moosdorf, har over 15 års erfaring i musikbranchen og ved, hvad der
            skal til for at få artister ud i rampelyset og slå igennem.
          </p>
          <br />
          <p>
            Vi tror på mennesker med talent og at drømme skal udleves. Med den
            helt rette støtte og dialog, kan der leveres store resultater. Hos
            Grizzly Management finder du en tryg og professionel partner, der
            hjælper artister med at finde deres vej i musikbranchen.
          </p><img src="/img/billeder/om1.webp" alt="" />
        </div>
      </section>
      <section>
        <div><h2>Teamet</h2></div>
        <div><img src="/img/billeder/om1.webp" alt="" /></div>
        <div>
          <h3>Ryan Bjørn hansen Manager</h3>
          <h3>Manager</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            molestie nunc vel pharetra efficitur. Praesent arcu arcu, vestibulum
            in dapibus eu, scelerisque id justo. Ut placerat nunc eu lorem
            scelerisque tempus. Morbi sed ultricies mauris. Aliquam erat
            volutpat. Quisque aliquam, tellus eu facilisis congue, tortor nunc
            convallis ex, non placerat massa nunc in orci.
          </p>
        </div>
      </section>
      <section>
        <div><img src="/img/billeder/om1.webp" alt="" /></div>
        <div>
          <h3>Rasmus Moosdorf</h3>
          <h3>Manager</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
            molestie nunc vel pharetra efficitur. Praesent arcu arcu, vestibulum
            in dapibus eu, scelerisque id justo. Ut placerat nunc eu lorem
            scelerisque tempus. Morbi sed ultricies mauris. Aliquam erat
            volutpat. Quisque aliquam, tellus eu facilisis congue, tortor nunc
            convallis ex, non placerat massa nunc in orci.
          </p>
        </div>
      </section>
    </section>
    <Footer />
  </body>
</html>

<style>
  h2 {
    color: var(--color-lime);
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    margin-top: 100px;
    margin-right: 300px;
  }
</style>
