---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Om os</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <section class="container">
      <section>
        <div>
          <h1>Om Grizzly</h1><p>
            Grizzly Management arbejder strategisk med alle aspekter af vores
            artisters forretning. Vores fokus er at udvikle sunde og langsigtede
            karrierer og håndtere alle interessenter med afsæt i vores artisters
            værdier. Vi arbejder tæt med labels, bookere, kreative bureauer og
            brands. Vi er nytænkende og vil gerne udfordre de traditionelle
            måder at arbejde med musik og artister på. Derudover sikrer vi altid
            at vores artister har de bedst mulige vilkår i et marked som er
            under konstant forandring
          </p>
          <img src="/img/billeder/om1.webp" alt="" />
        </div>
      </section>
      <section>
        <div><h2>Teamet</h2></div>
        <div><img src="/img/billeder/om1.webp" alt="" /></div>
        <div>
          <h3>Ryan Bjørn hansen Manager</h3>
          <h3>Founder & Manager</h3>
          <p>
            Bag Grizzly Manager står Ryan Bjørn Hansen. Hans baggrund udspringer
            fra marketing, hvor han har været ansvarlig for store internationale
            brands bl.a. i Orkla koncernen. I 2012 kom han til Warner Music og
            har siden beskæftiget sig med musikbranchen. Efter Warner Music gik
            vejen forbi Live Nation hvor han bl.a. sad i ledelsen på Heartland
            Festival og var med til at starte festivalen tilbage i 2016. Igennem
            årene har han arbejdet meget med krydsfeltet mellem artister og
            brands, hvilket har resulteret i samarbejder med bl.a. Audi, TAG
            Heuer, Aqua D’or, Calvin Klein, H2O, Garment Project, BMW, B&O,
            Royal Unibrew, Diageo, Hansen Is, Circle K mf.
          </p>
        </div>
      </section>
      <section>
        <div><img src="/img/billeder/om1.webp" alt="" /></div>
        <div>
          <h3>Rasmus Moosdorf</h3>
          <h3>Manager & EA</h3>
          <p>
            I 2021 blev Rasmus Moosdorf ansat som Manager og EA (Executive
            Assistant) for at yde yderligere support til vores artister og
            udviklingen af deres karriere.
          </p>
        </div>
      </section>
    </section>
    <Footer />
  </body>
</html>

<style>
  h2 {
    color: var(--color-lime);
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
    margin-top: 100px;
    margin-right: 300px;
  }
</style>
