---
import Footer from "../components/Footer.astro";
import Form2 from "../components/Form2.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Send demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <section class="container">
      <div>
        <h1>Send din demo</h1>
        <Form2 />
      </div>
    </section>
    <Footer />
  </body>
</html>
