---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/ikoner/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Flaskedreng</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"
      rel="stylesheet"
    />
    <meta
      name="keywords"
      content="Zaina, RnB artist, P3 Guld, upcoming artist"
    />
    <meta
      name="description"
      content="Zaina optrådte med Rahims sang ‘Når Mænd Græder,’ hvor hun tog salen med storm og rørte folk med sin unikke stemme. Zaina er en upcoming RnB artist, der blev kendt i P3 Guld 2022. Få mere at vide om Zaina og lyt til hendes musik."
    />
  </head>
  <body>
    <Header />
    <div
      class="parallax-container"
      role="region"
      aria-label="Parallax-container"
    >
      <div class="filter">
        <img src="/img/billeder/Filter.webp" alt="filter" />
      </div>
      <div class="gradient parallax-image">
        <img src="/img/billeder/gradient1.webp" alt="gradient" />
      </div>
      <section class="container content">
        <section class="">
          <div>
            <a class="tilbage" href="/artister.html"
              ><img class="default" src="/img/ikoner/pil3.svg" alt="" /><img
                class="hover"
                src="/img/ikoner/pil2.svg"
                alt=""
              /><p class="a">Tilbage</p></a
            >
          </div>
          <h1>Zaina</h1>

          <div class="h2">
            <img src="/img/ikoner/citat.svg" alt="citat" /><h2>
              Zaina optrådte med Rahims sang ‘Når Mænd Græder,’ hvor hun tog
              salen med storm og rørte folk med sin unikke stemme.
            </h2>
          </div>
          <div class="grid">
            <div>
              <img src="/img/billeder/zaina4.webp" alt="Zaina billede 1" />
            </div>
            <div>
              <h3>Upcoming RnB artist</h3><p>
                Zaina Jouret Segujja, kendt som Zaina, er en upcoming artist
                inden for RnB genren. Tidligere har hun deltaget i x-factor,
                hvor man for første gang hørte hendes stemme på tv.
              </p>
            </div>
          </div>
        </section>
        <section class="grid">
          <div class="img2">
            <img src="/img/billeder/zaina2.webp" alt="Zaina billede 2" />
          </div>
          <div>
            <h3>P3 Guld 2022</h3><p>
              Zaina blev for alvor kendt i P3 Guld i 2022, da hun optrådte som
              stedfortræder for Tobias Rahim. Zaina optrådte med Rahims sang
              ‘Når Mænd Græder,’ hvor hun tog salen med storm og rørte folk med
              sin unikke stemme.
            </p>
          </div>
        </section>
        <section>
          <iframe
            style="border-radius:12px"
            src="https://open.spotify.com/embed/artist/7fwnH4uy8mo721oa6K4kBS?utm_source=generator&theme=0"
            width="100%"
            height="352"
            frameborder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </section>
      </section>
    </div>
    <Footer />
  </body>
</html>

<style>
  .tilbage {
    display: flex;
    flex-direction: row;
    margin-top: 200px;
    align-items: baseline;
    gap: 10px;
    text-decoration: none;
    color: var(--color-blodappelsin);
  }
  .tilbage img {
    height: 15px;
    justify-self: center;
    padding-top: 2px;
  }
  .tilbage p {
    margin-top: 0px;
    justify-self: center;
    color: var(--color-blodappelsin);
  }

  .tilbage .hover {
    display: none; /* Start med at skjule hover-billedet */
  }

  .tilbage:hover .default {
    display: none; /* Skjul standardbilledet, når der er hover */
  }

  .tilbage:hover .hover {
    display: inline-block; /* Vis hover-billedet, når der er hover */
  }

  .tilbage p:hover {
    color: var(--color-hvid);
  }
  h1 {
    margin-top: 10px;
  }
  h2 {
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-link);
    color: var(--color-lime-120);
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-decoration: none;
    max-width: 800px;
    text-align: center;
    place-self: center;
  }

  .h2 {
    display: grid;
    padding-bottom: 40px;
    padding-top: 0px;
    justify-items: center;
    gap: 15px;
  }
  .h2 img {
    max-height: 50px;
    width: 50px;
  }

  .grid img {
    width: 100%;
    margin-right: 0;
    max-height: 300px;
  }

  p {
    margin-top: 20px;
  }

  section {
    margin-top: 30px;
  }

  .grid {
    margin-top: 50px;
  }
  h3 {
    margin-top: 30px;
  }
  .section3 {
    margin-top: 80px;
  }

  @media (min-width: 800px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 60px;
      gap: 20px;
    }
    .img2 {
      order: 2;
    }

    h2 {
      font-family: var(--font-family-helvetica);
      font-size: 28px;
      color: var(--color-lime-120);
      line-height: 32px;
      letter-spacing: 2px;
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
      text-decoration: none;
    }
    h3 {
      margin-top: 0px;
    }
    .h2 img {
      max-height: 80px;
      width: 60px;
    }

    .h2 {
      gap: 20px;
    }
  }
  /* gradient og filter */
  .filter {
    position: fixed;
    height: 3000px;
    z-index: -999;
    opacity: 0.2;
    filter: grayscale(100%);
    object-fit: cover;
  }

  .filter img {
    max-width: screen;
    max-height: screen;
  }

  .parallax-container {
    position: relative;
    height: 2000px; /* Juster højden efter behov */
    overflow: hidden;
  }

  .parallax-image {
    position: absolute;
    top: 0px;
    left: 58%;
    z-index: -99999;
    max-width: 100%;
    /* background-image: url("img/billeder/gradient1.png"); */
    background-size: cover;
    transform: translateZ(1px); /* Juster skaleringsfaktoren efter behov */
  }
  .parallax-image img {
    width: 450px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .content {
    position: relative;
    z-index: 1;
  }

  @media (min-width: 800px) {
    /* .gradient {
      position: fixed;
      top: 100px;
      z-index: -998;
      width: 1200px;
    } */
    .filter {
      position: fixed;
      height: 100%;
      z-index: -999;
      opacity: 0.2;
      filter: grayscale(100%);
    }
    .parallax-image {
      width: 1200px;
      max-width: 100%;
      z-index: -99999;
    }

    .parallax-image img {
      width: 1400px;
    }
  }
</style>
<script>
  window.addEventListener("scroll", function () {
    const parallax = document.querySelector(".parallax-image");
    let scrollPosition = window.pageYOffset;
    parallax.style.transform =
      "translateY(" +
      scrollPosition * 0.8 +
      "px)"; /* Juster hastigheden efter behov */
  });
</script>
