---
import "../styles/global.css";
---

<footer>
  <div class="footer_grid">
    <div>
      <h3>Grizzly Management APS</h3><p>Nyvej 16B, st</p>
      <p>1851 Frederiksberg C</p><br />
      <p>CVR - 43240129</p>
    </div>
    <div class="kontakt">
      <a class="a" href="/kontakt.html">Kontakt</a>
      <p>ryan@grizzlymanagement.dk</p><div>
        <img src="/img/ikoner/ig.svg" alt="instagram" /><img
          src="/img/ikoner/fb.svg"
          alt="facebook"
        />
      </div>
    </div>
    <div class="flex_column" id="flex1">
      <a class="a" href="/forside.html">Forside</a><a
        class="a"
        href="/artister.html">Artister</a
      ><a class="a" href="/om_os.html">Om os</a>
    </div>
    <div class="flex_column">
      <a class="a" href="/nyt.html">Nyt</a><a class="a" href="/send_demo.html"
        >Send demo</a
      >
    </div>
    <div><img src="/img/ikoner/logo_footer.svg" alt="" /></div>
  </div>
</footer>

<style>
  footer {
    margin-top: 160px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .flex_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer_grid div:nth-child(n) {
    margin-bottom: 60px;
  }

  #flex1 {
    margin-bottom: 10px;
  }

  h3 {
    padding-bottom: 20px;
  }
  h3 {
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-link);
    color: var(--color-hvid);
    line-height: 22px;
    letter-spacing: 11.5%;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    text-decoration: none;
  }
  .kontakt p {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .kontakt img {
    margin-right: 10px;
    height: 29px;
  }

  @media (min-width: 800px) {
    .footer_grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .footer_grid div:nth-child(n) {
      margin-right: 50px;
    }
  }
</style>
