---
import "../styles/global.css";
---

<form class="contact-form" role="form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Eks. Michaeljackson@mail.com"
      required
      aria-required="true"
    />
  </div>
  <div class="form-group">
    <label for="phone">Telefon:</label>
    <input
      type="tel"
      id="phone"
      name="phone"
      placeholder="Eks. 12 34 12 34"
      aria-describedby="phone-description"
    />
    <div id="phone-description" class="sr-only">
      Angiv dit telefonnummer i formatet xx xx xx xx
    </div>
  </div>
  <div class="form-group">
    <label for="artist-name">Kunstnernavn:</label>
    <input
      type="text"
      id="artist-name"
      name="artist-name"
      placeholder="Eks. Michael Jackson"
      required
      aria-required="true"
    />
  </div>
  <div class="form-group">
    <label for="demo">Demo:</label>
    <input
      type="file"
      id="demo"
      name="demo"
      accept=".mp3, .wav"
      aria-label="Upload demo"
    />
  </div>
  <div class="form-group">
    <label for="message">Besked:</label>
    <textarea
      id="message"
      name="message"
      rows="5"
      placeholder="Indtast din besked"
      required
      aria-required="true"></textarea>
  </div>
  <button class="secondary_large a" type="submit">Send</button>
</form>

<style>
  .contact-form {
    max-width: 500px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: var(--color-hvid);
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-body-desktop);

    line-height: 21.8px;
    font-weight: var(--font-weight-light);
  }

  input[type="email"],
  input[type="tel"],
  input[type="text"],
  textarea {
    width: 100%;
    color: white;
    padding: 10px;
    border: 1px solid var(--color-hvid);
    border-radius: 8px;
    background-color: transparent;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-sort-40); /* ændrer farven på placeholder-teksten */
    font-style: italic; /* ændrer skriftstilen på placeholder-teksten */
    /* tilføj eventuelle yderligere stilregler her */
    font-family: var(--font-family-helvetica);
    font-size: var(--font-size-body-desktop);

    line-height: 21.8px;
    font-weight: var(--font-weight-light);
  }

  input[type="file"]::file-selector-button {
    cursor: pointer;

    color: white;
    padding: 10px;
    border: 1px solid var(--color-hvid);
    border-radius: 8px;
    background-color: transparent;
  }

  input[type="file"]::file-selector-button:hover {
    background-color: var(--color-lime-140);
  }
  .form-group input[type="file"] + label {
    color: red; /* Erstat med den ønskede farve */
  }

  #phone-description {
    font-size: 12px;
    color: var(--color-sort-20);
    margin-top: 5px;
    font-family: var(--font-family-helvetica);
  }
</style>
